* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-weight: 700;
}

body {
  background: url(./images/mortal.jpg) no-repeat;
  background-size: cover;
}

h1 {
  margin: 50px 0 35px 100px;
  font-size: 50px;
  color: #f00;
}

section,
.recent,
.position,
.addScore,
.input {
  display: flex;
}

.recent h3,
.addScore h3 {
  font-size: 30px;
  color: #f35;
}

.scoresList {
  width: 50%;
}

.recent {
  justify-content: center;
}

button {
  font-size: 13px;
  padding: 5px 20px;
  box-shadow: 2px 2px;
  margin-left: 20px;
}

#list {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
}

#list::before {
  content: '';
  position: absolute;
  height: 300%;
  width: 50px;
  background: linear-gradient(#2fdef5e7, #f034e0);
  animation: animate 5s linear infinite;
}

#list::after {
  content: '';
  position: absolute;
  inset: 4px;
  background-color: #0e1538;
  border-radius: 20px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.position {
  padding: 5px;
  margin-top: 15px;
  border-radius: 20px;
}

.newColor {
  background: #be0b6e;
  z-index: 10;
}

.old {
  background: #0680f3e7;
  z-index: 10;
}

.player {
  width: 300px;
}

.player,
.result {
  position: relative;
  z-index: 10;
}

.addScore {
  margin-top: 250px;
}

.addScore,
.input {
  flex-direction: column;
  width: 50%;
}

.input {
  margin-top: 25px;
}

input {
  margin-bottom: 20px;
  padding: 5px;
}

.submit {
  width: 100px;
  align-self: flex-end;
  padding-left: 10px;
}
